@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;900&display=swap");
:root {
  --main-color: #660766;
  --secondry-color: #b1088c;
  --third-color: rgb(9, 153, 172);
  --text-col: rgb(241, 237, 237);
  font-family: "Poppins", sans-serif;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  width: 100%;
  background: linear-gradient(
    to bottom,
    var(--main-color),
    var(--secondry-color)
  );
}

.container {
  width: 80%;
  margin: auto;
  min-height: 100vh;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 10px;
  position: relative;
}
nav ul li::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 4px;
  background-color: var(--third-color);
  left: 50%;
  bottom: -20%;
  transform: translateX(-50%);
  transition: all 0.5s;
}
nav ul li:hover::after {
  width: 100%;
}
nav ul li:hover a {
  color: var(--third-color);
}

nav ul li a {
  font-size: 18px;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--text-col);
  transition: all 0.5s;
}
.logo {
  color: var(--text-col);
  text-transform: capitalize;
  border-bottom: 6px solid var(--third-color);
}
