@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700;900&display=swap");

:root {
  --main-color: #00abf0;
  --bg-color: #081b29;
  --second-bg-color: #112e42;
  --text-col: #ededed;
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  /* min-height: 100vh; */
  width: 100%;
  background: var(--bg-color);
  color: var(--text-col);
}

.container {
  width: 80%;
  margin: auto;
  min-height: 100vh;
}

section {
  min-height: 100vh;
}

.btn {
  padding: 10px 50px;
  background-color: var(--main-color);
  outline: none;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.5s;
  margin: 15px 0 0 15px;

}

.btn:hover {
  background-color: transparent;
  border-color: var(--main-color);
  transform: scale(1.1);
}

.btn a {
  color: var(--text-col);
  text-transform: capitalize;
  font-size: 16px;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  transition: all 0.5s;
}

nav ul li {
  margin: 0 10px;
  position: relative;
}

nav ul li::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 4px;
  background-color: var(--main-color);
  left: 50%;
  bottom: -20%;
  transform: translateX(-50%);
  transition: all 0.5s;
}

nav ul li:hover::after {
  width: 100%;
}

nav ul li:hover a {
  color: var(--main-color);
}

nav ul li a {
  font-size: 18px;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--text-col);
  transition: all 0.5s;
}

.logo {
  color: var(--text-col);
  text-transform: capitalize;
  border-bottom: 6px solid var(--third-color);
  cursor: pointer;
}

.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  /* margin-top: 5rem; */
}


.img-holder {
  position: relative;
  text-align: center;
}

.hero-img {
  position: relative;
  width: 80%;
  margin: auto;
  border-radius: 70%;
  border: solid 10px;
  border-color: transparent;
  z-index: 1;
  /* animation: border-colors .4s infinite cubic-bezier(0.19, 1, 0.22, 1); */
}


.title {
  font-size: 50px;
  text-transform: uppercase;
  color: var(--main-color);
}

.sous-title {
  font-size: 30px;
  letter-spacing: 5px;
}

.description {
  font-size: 16px;
  line-height: 40px;
  font-style: italic;
  letter-spacing: 2px;
}

#About {
  display: grid;
}

/* Media Queries */
/* Define media queries for different screen sizes */

/* Small screens */
@media (max-width: 767px) {

  /* Adjust styles for small screens */
  .container {
    width: 100%;
  }

  header {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .hero {
    grid-template-columns: 1fr;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .title {
    font-size: 40px;
  }

  .hero-text {
    text-align: center;
  }

  .img-holder {
    display: none;
  }
}





/* Medium screens */
@media (min-width: 768px) and (max-width: 1023px) {

  /* Adjust styles for medium screens */
  .hero {
    grid-template-columns: 1fr;
  }

  .hero-text {
    text-align: center;
  }
}

/* Large screens */
@media (min-width: 1024px) {
  /* Adjust styles for large screens */
}




@keyframes border-colors {
  100% {
    border-bottom-color: var(--main-color);
  }

  75% {
    border-bottom-color: transparent;
    border-left-color: var(--main-color);
  }

  50% {
    border-left-color: transparent;
    border-top-color: var(--main-color);
  }

  25% {
    border-top-color: transparent;
    border-right-color: var(--main-color);
  }

  0% {
    border-right-color: transparent;
    border-bottom-color: var(--main-color);
  }
}

@keyframes arcAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}